<div class="page-editor">
    <div class="master-pane">
        <h2>Pages</h2>
        <ul>
            <li (click)="selectPage(page)" *ngFor="let page of pages()" [class.selected]="page.id === selected()?.id">
                {{ page.name }}
            </li>
        </ul>
        <button (click)="newPage()">New Page</button>
    </div>

    <div *ngIf="selected() as page" class="detail-pane">
        <h3>{{ page.name }}</h3>
        <div class="page-widgets">
            <h4>Widgets on this Page</h4>
            <div *ngFor="let widget of page.widgets" class="page-widget-item">
                <span>{{ widget.titleOverride || getWidgetName(widget.widgetConfigId) }}</span>
                <div class="widget-controls">
                    <button (click)="moveLeft(widget)">&#8592;</button>
                    <button (click)="moveRight(widget, page.layout.columns)">&#8594;</button>
                    <button (click)="narrow(widget)">-</button>
                    <button (click)="widen(widget, page.layout.columns)">+</button>
                    <button (click)="removeWidget(widget.id)">Remove</button>
                </div>
            </div>
        </div>

        <div class="available-widgets">
            <h4>Available Widgets</h4>
            <ul>
                <li *ngFor="let config of widgetConfigs()">
                    {{ config.name }} ({{ config.widgetType }})
                    <button (click)="addWidget(config)">+ Add to Page</button>
                </li>
            </ul>
        </div>
    </div>
</div>
